.button {
  color: var(--gray1);
  display: flex;
  gap: 5px;
  align-items: center;
  background: var(--gray12);
  border-radius: 5px;
  padding: 10px;
  height: max-content;
}

.button:hover {
  background: var(--gray11);
}

.secondary {
  color: var(--gray12);
  background-color: var(--gray1);
  border: 1px solid var(--gray12);
}

.secondary:hover {
  background: var(--gray2);
}
