.AccordionRoot {
  border-radius: 10px;
  background-color: var(--gray12);
  box-shadow: 0 2px 10px var(--blackA4);
}

.AccordionItem {
  overflow: hidden;
  margin-top: 1px;
}

.AccordionItem:first-child {
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.AccordionItem:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.AccordionItem:focus-within {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px var(--gray12);
}

.AccordionHeader {
  display: flex;
}

.AccordionTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 0 20px;
  height: 70px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 1;
  color: var(--gray12);
  box-shadow: 0 1px 0 var(--gray8);
  background-color: #e6e6e6;
}

.AccordionTrigger:hover {
  background-color: var(--gray7);
}

.AccordionContent {
  overflow: hidden;
  font-size: 16px;
  color: var(--gray11);
  background-color: var(--gray2);
}

.AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 15px 20px;
}

.AccordionCaret {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state="open"] > .AccordionCaret {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
